<h1>Introduction</h1>
This analysis looks at different angles of the fuel data for the vehicle spreadsheet provided for the project. It looks at fuel in the scope of transmission and vehicle types and looks at the average price for different products.

These are the different libraries that are necessary to complete the analysis.

In [1260]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
import plotly.express as px

This reads the data into a DataFrame and displays the information and the first five rows of the data.

In [1261]:
ice_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/ice-games-practicum/moved_games.csv', encoding = "utf-8")

display(ice_data.head())
ice_data.info()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

This code checks for any fully duplicate rows. There appear to be none.

In [1262]:
print(ice_data.duplicated().sum())

0

This is beginning of cleaning the data. I replaced all the column names with the lowercase version of the name.

In [1263]:
ice_data = ice_data.rename(columns={
    'Name': 'name', 
    'Platform': 'platform',
    'Year_of_Release': 'year_of_release',
    'Genre': 'genre',
    'NA_sales': 'na_sales',
    'EU_sales': 'eu_sales',
    'JP_sales': 'jp_sales',
    'Other_sales': 'other_sales',
    'User_Score': 'user_score',
    'Critic_Score': 'critic_score',
    'Rating': 'rating'
})
print(ice_data.columns)

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

This code checks for duplicates in the name data by converting all the names to lowercase values and dropping any duplicates that also have a duplicate year of release and platform. This is because some games have new releases in different years and games could be released on different platforms.

In [1264]:
ice_data.info()
print(ice_data['name'].value_counts())
print(ice_data['name'].unique())
ice_data['name_lowercase'] = ice_data['name'].str.lower()
print(ice_data['name'].value_counts())
print(ice_data['name_lowercase'].unique())

ice_data = ice_data.drop_duplicates(subset=['name_lowercase', 'year_of_release', 'platform']).reset_index(drop=True)

ice_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
Need for Speed: Most Wanted                         12
Ratatouille                                          9
LEGO Marvel Super Heroes                             9
FIFA 14                                              9
Madden NFL 07                                        9
                                                    ..
Jewels of the Tropical Lost Island                   1
Sherlock Holmes and the Mystery of Osborne House     1
The King of Fighters '95 (CD)                        1
Megamind: Mega Team Unite                            1
Haitaka no Psychedelica                              1
Name: name, Length: 11559, dtype: int64
['Wii Sports' 'Super Mario Bros.' 'Mario Kart Wii' ...
 'Woody Woodpecker in Crazy Castle 5' 'LMA Manager 2007'
 'Haitaka no Psychedelica']
Need for Speed: Most Wanted                         12
Ratatouille                                          9
LEGO Marvel Super Heroes                             9
FIFA 14                                              9
Madden NFL 07                                        9
                                                    ..
Jewels of the Tropical Lost Island                   1
Sherlock Holmes and the Mystery of Osborne House     1
The King of Fighters '95 (CD)                        1
Megamind: Mega Team Unite                            1
Haitaka no Psychedelica                              1
Name: name, Length: 11559, dtype: int64
['wii sports' 'super mario bros.' 'mario kart wii' ...
 'woody woodpecker in crazy castle 5' 'lma manager 2007'
 'haitaka no psychedelica']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16713 entries, 0 to 16712
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16712 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16444 non-null  float64
 3   genre            16712 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8136 non-null   float64
 9   user_score       10013 non-null  object
 10  rating           9948 non-null   object
 11  name_lowercase   16712 non-null  object
dtypes: float64(6), object(6)
memory usage: 1.5+ MB

This code checks for names that are missing, then grabs the rows where the name is missing to view for analysis.

It looks like quite a bit of information is missing about this row; however, there were in fact sales in Europe and North America for this game, and the platform is valid and used for other games. Therefore, I decided to keep the row and add the string "Unknown Name" to the name field.

In [1265]:
print(ice_data['name'].isna().sum())
print(ice_data.query("name.isna()"))
print(ice_data['platform'].value_counts().head(25))
ice_data['name'] = ice_data['name'].fillna('Unknown Name')
print(ice_data['name'].isna().sum())

1
    name platform  year_of_release genre  na_sales  eu_sales  jp_sales  \
659  NaN      GEN           1993.0   NaN      1.78      0.53       0.0

     other_sales  critic_score user_score rating name_lowercase
659         0.08           NaN        NaN    NaN            NaN
PS2     2161
DS      2151
PS3     1330
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      430
PS4      392
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
NES       98
GB        98
DC        52
GEN       28
NG        12
Name: platform, dtype: int64
0

I looked at sample rows that are missing the year of release and I noticed that some have the year in the name field. For those rows, I used the year listed in the name to fill the year of release. For the other rows, I replaced the missing year of release with median year of release. For all rows I converted the datatype to datetime and made sure to isolate just the year.

In [1266]:
print(ice_data['year_of_release'].isna().sum())

#fill year from name
ice_data['year_of_release'] = ice_data['year_of_release'].where(ice_data['name'] != 'PES 2009: Pro Evolution Soccer', 2009)
ice_data['name_year'] = ice_data.query("year_of_release.isna() and (name.str.contains('200') or name.str.contains('19'))")['name'].str[-4:]
ice_data['year_of_release'] = ice_data['year_of_release'].where((ice_data['year_of_release'].notna() & ice_data['name_year'].isna()), ice_data['name_year'])

#check work
print(ice_data['year_of_release'].isna().sum())

#fill missing fields by median
year_median = ice_data['year_of_release'].median()
year_median = round(year_median, 0)
ice_data['year_of_release'] = ice_data['year_of_release'].where((ice_data['year_of_release'].notna()) , year_median) 

#convert datatype
ice_data['year_of_release'] = ice_data['year_of_release'].astype(int)
ice_data['year_of_release'] = pd.to_datetime(ice_data['year_of_release'], format='%Y')
ice_data['year_of_release'] = ice_data['year_of_release'].dt.year

#check work
print(ice_data['year_of_release'].isna().sum())

269
254
0

This code checks for genres that are missing, then grabs the rows where the genre is missing to view for analysis.

It looks like this is the same row that was missing the name. Based on my previous analysis, I decided to keep the row and add the string "Unknown Genre" to the genre field.

In [1267]:
print(ice_data['genre'].isna().sum())
print(ice_data.query("genre.isna()"))
ice_data['genre'] = ice_data['genre'].fillna('Unknown Genre')
print(ice_data['genre'].isna().sum())

1
             name platform  year_of_release genre  na_sales  eu_sales  \
659  Unknown Name      GEN             1993   NaN      1.78      0.53

     jp_sales  other_sales  critic_score user_score rating name_lowercase  \
659       0.0         0.08           NaN        NaN    NaN            NaN

    name_year
659       NaN
0

I looked at sample rows that are missing the critic score and I did not see any pattern. It is likely these are simply games that did not have a critic score yet. This code calculates the mean critic score by year of release and fills in the missing critic score data with the appropriate mean by year.

In [1268]:
#view data and compare
print(ice_data['critic_score'].isna().sum())
print(ice_data.query("critic_score.isna()").sample(5))
print(ice_data.query("critic_score.isna() and user_score.notna()")['name'].count())

#calculate critic score by year and fill missing values
critic_score_mean = ice_data.groupby('year_of_release')['critic_score'].mean()
critic_score_mean = critic_score_mean.fillna(0)
critic_score_mean = critic_score_mean.reset_index().rename(columns={0: 'year_of_release', 'critic_score': 'mean_critic_score'})
ice_data = ice_data.merge(critic_score_mean, on='year_of_release', how='left')
ice_data['critic_score'] = ice_data['critic_score'].fillna(ice_data['mean_critic_score'])

#check work
print(ice_data['critic_score'].isna().sum())

8577
                                          name platform  year_of_release  \
11763                            Supremacy MMA      PSV             2012
1878                                 BeatMania       PS             1998
6865               Imagine: Teacher Class Trip       DS             2009
4799   The Legend of Spyro: Dawn of the Dragon      PS2             2008
14418           Pro Yakyuu Spirits 5 Kanzenban      PS3             2008

            genre  na_sales  eu_sales  jp_sales  other_sales  critic_score  \
11763    Fighting      0.02      0.04      0.00         0.01           NaN
1878   Simulation      0.00      0.00      1.07         0.02           NaN
6865    Adventure      0.10      0.12      0.00         0.02           NaN
4799     Platform      0.12      0.01      0.00         0.27           NaN
14418      Sports      0.00      0.00      0.03         0.00           NaN

      user_score rating                           name_lowercase name_year
11763        NaN    NaN                            supremacy mma       NaN
1878         NaN    NaN                                beatmania       NaN
6865         tbd      E              imagine: teacher class trip       NaN
4799         7.1   E10+  the legend of spyro: dawn of the dragon       NaN
14418        NaN    NaN           pro yakyuu spirits 5 kanzenban       NaN
1915
0

I looked at sample rows that are missing the rating, and I noticed that any game that is missing a rating is also missing a user score, but I am actually not sure if there is a conclusion to be drawn there. The code then fills blank values with "Rating Unknown".

In [1269]:
print(ice_data['rating'].isna().sum())
print(ice_data.query("rating.isna()").sample(5))
print(ice_data.query("rating.isna() and user_score.notna()")['name'].count())
ice_data['rating'] = ice_data['rating'].fillna('Rating Unknown')
print(ice_data['rating'].isna().sum())

6765
                                   name platform  year_of_release       genre  \
16279       Sakura-Sou no Pet na Kanojo      PSP             2013   Adventure
4853         Speed Racer: The Videogame      Wii             2008      Racing
8264   Tamagotchi no Narikiri Challenge       DS             2010      Action
16583     Farming 2017 - The Simulation      PS4             2016  Simulation
14260                   Ukiyo no Shishi      PS3             2015      Action

       na_sales  eu_sales  jp_sales  other_sales  critic_score user_score  \
16279      0.00      0.00      0.01         0.00     71.278388        NaN
4853       0.35      0.02      0.00         0.03     65.872905        NaN
8264       0.00      0.00      0.17         0.00     67.482000        NaN
16583      0.00      0.01      0.00         0.00     73.155172        NaN
14260      0.00      0.00      0.03         0.00     72.871111        NaN

      rating                    name_lowercase name_year
16279    NaN       sakura-sou no pet na kanojo       NaN
4853     NaN        speed racer: the videogame       NaN
8264     NaN  tamagotchi no narikiri challenge       NaN
16583    NaN     farming 2017 - the simulation       NaN
14260    NaN                   ukiyo no shishi       NaN
136
0

Two of the rows has a user score of "tbd". I am guessing that this means that a user has not giving this a score or user rating yet. To mitigate this, I averaged all the unique ratings values together and replaced the "tbd" values with this average. The remaining code calculates the mean user score by year of release and fills in the missing (NaN) user score data with the appropriate mean by year.

In [1270]:
print(ice_data['user_score'].isna().sum())
print(ice_data['user_score'].unique())
print(ice_data.query("user_score == 'tbd'"))

#calculate overall user_score mean to replace "tbd" value
user_score_dropna = ice_data['user_score'].dropna()
score_list = list(user_score_dropna.unique())
score_list.remove('tbd')
score_float_list = [float(score) for score in score_list]
score_mean = sum(score_float_list) / len(score_float_list)
ice_data['user_score'] = ice_data['user_score'].where((ice_data['user_score'] != 'tbd') , score_mean) 

#fill NaN values with user_score mean by year
ice_data['user_score'] = ice_data['user_score'].astype(float)
user_score_mean = ice_data.groupby('year_of_release')['user_score'].mean()
user_score_mean = user_score_mean.fillna(0)
user_score_mean = user_score_mean.reset_index().rename(columns={0: 'year_of_release', 'user_score': 'mean_user_score'})
ice_data = ice_data.merge(user_score_mean, on='year_of_release', how='left')
ice_data['user_score'] = ice_data['user_score'].fillna(ice_data['mean_user_score'])

#check work
print(ice_data['user_score'].isna().sum())

6700
['8' nan '8.3' '8.5' '6.6' '8.4' '8.6' '7.7' '6.3' '7.4' '8.2' '9' '7.9'
 '8.1' '8.7' '7.1' '3.4' '5.3' '4.8' '3.2' '8.9' '6.4' '7.8' '7.5' '2.6'
 '7.2' '9.2' '7' '7.3' '4.3' '7.6' '5.7' '5' '9.1' '6.5' 'tbd' '8.8' '6.9'
 '9.4' '6.8' '6.1' '6.7' '5.4' '4' '4.9' '4.5' '9.3' '6.2' '4.2' '6' '3.7'
 '4.1' '5.8' '5.6' '5.5' '4.4' '4.6' '5.9' '3.9' '3.1' '2.9' '5.2' '3.3'
 '4.7' '5.1' '3.5' '2.5' '1.9' '3' '2.7' '2.2' '2' '9.5' '2.1' '3.6' '2.8'
 '1.8' '3.8' '0' '1.6' '9.6' '2.4' '1.7' '1.1' '0.3' '1.5' '0.7' '1.2'
 '2.3' '0.5' '1.3' '0.2' '0.6' '1.4' '0.9' '1' '9.7']
                                           name platform  year_of_release  \
119                               Zumba Fitness      Wii             2010
301              Namco Museum: 50th Anniversary      PS2             2005
520                             Zumba Fitness 2      Wii             2011
645                                uDraw Studio      Wii             2010
657    Frogger's Adventures: Temple of the Frog      GBA             2007
...                                         ...      ...              ...
16693                           Planet Monsters      GBA             2001
16695                          Bust-A-Move 3000       GC             2003
16696                          Mega Brain Boost       DS             2008
16702                                  Plushees       DS             2008
16704             Men in Black II: Alien Escape       GC             2003

            genre  na_sales  eu_sales  jp_sales  other_sales  critic_score  \
119        Sports      3.45      2.59       0.0         0.66     67.482000
301          Misc      2.08      1.35       0.0         0.54     61.000000
520        Sports      1.51      1.03       0.0         0.27     68.692000
645          Misc      1.65      0.57       0.0         0.20     71.000000
657     Adventure      2.15      0.18       0.0         0.07     73.000000
...           ...       ...       ...       ...          ...           ...
16693      Action      0.01      0.00       0.0         0.00     67.000000
16695      Puzzle      0.01      0.00       0.0         0.00     53.000000
16696      Puzzle      0.01      0.00       0.0         0.00     48.000000
16702  Simulation      0.01      0.00       0.0         0.00     65.872905
16704     Shooter      0.01      0.00       0.0         0.00     70.227504

      user_score rating                            name_lowercase name_year
119          tbd      E                             zumba fitness       NaN
301          tbd   E10+            namco museum: 50th anniversary       NaN
520          tbd      T                           zumba fitness 2       NaN
645          tbd      E                              udraw studio       NaN
657          tbd      E  frogger's adventures: temple of the frog       NaN
...          ...    ...                                       ...       ...
16693        tbd      E                           planet monsters       NaN
16695        tbd      E                          bust-a-move 3000       NaN
16696        tbd      E                          mega brain boost       NaN
16702        tbd      E                                  plushees       NaN
16704        tbd      T             men in black ii: alien escape       NaN

[2424 rows x 13 columns]
0

This code drops all the extra columns created to clean the data.

In [1271]:
ice_data.drop(['name_lowercase', 'name_year', 'mean_critic_score', 'mean_user_score'], axis=1, inplace=True)

This code checks the info on the dataframe and a random ten rows of the DataFrame

In [1272]:
ice_data.info()
display(ice_data.sample(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16713 entries, 0 to 16712
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16713 non-null  int64
 3   genre            16713 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     16713 non-null  float64
 9   user_score       16713 non-null  float64
 10  rating           16713 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
6089,Hot Shots Golf: World Invitational,PS3,2012,Sports,0.00,0.00,0.28,0.00,72.953125,7.900000,E
15287,18 Wheels of Steel: Extreme Trucker,PC,2009,Racing,0.00,0.02,0.00,0.00,67.554531,8.000000,Rating Unknown
10038,FIFA Street 2,GC,2006,Sports,0.09,0.02,0.00,0.00,63.000000,5.700000,E
4047,Backyard Baseball,PS2,2004,Sports,0.24,0.19,0.00,0.06,69.463588,7.200000,E
14303,Dragon's Dogma Online,PS3,2015,Role-Playing,0.00,0.00,0.03,0.00,72.871111,6.475821,Rating Unknown
13464,Root Letter,PSV,2016,Adventure,0.00,0.03,0.01,0.01,78.000000,7.800000,M
8470,PoPoLoCrois: Hajimari no Bouken,PS2,2002,Role-Playing,0.00,0.00,0.16,0.00,69.079618,6.827365,Rating Unknown
11159,Cake Mania: Main Street,DS,2011,Simulation,0.08,0.00,0.00,0.01,68.692000,4.989474,E10+
12150,Super Real Mahjong Graffiti,SAT,1995,Misc,0.00,0.00,0.07,0.00,0.000000,0.000000,Rating Unknown
11434,Seven Samurai 20XX,PS2,2004,Action,0.04,0.03,0.00,0.01,52.000000,7.000000,T